.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.Sign-in-form label {
  align-self: flex-start;
  margin-left: 16px;
  font-size: 18px;
}

.Sign-in-form input {
  margin: 16px;
  height: 20px;
  width: 350px;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 350px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #ff0000cf; 
}

.error-placeholder {
  height: 60px;
}

button {
  height: 40px;
  width: 100px;
  margin: 16px;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  color: #61dafb;
}
